body {
  /* min-height: 2000px; */
  font-size: 12px;
}
.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}
.card {
  width: auto;
  height: auto;
}
section {
  padding-top: 8rem;
}
